<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>

<a href="/">最新</a>
<a href="/week">本周</a>
<a href="/all">总榜</a>

<div>
    {{range .Posts}}
    <div>
        <h1>{{.ID}}</h1>
        <p>{{.Content}}</p>
        <div>
            {{range .Images}}
            <img src="/img/{{.Path}}/{{.FileName}}.{{.Ext}}" alt="Image" style="width: 300px; height: auto;"/>
            {{end}}
        </div>
        <p>
            <span style="color: red;">OO {{.VotePositive}}</span>
            <span style="color: dimgrey;">XX {{.VoteNegative}}</span>
        </p>
        <p>{{.Author}} {{.Date}}</p>
    </div>
    {{end}}
</div>
<!-- 翻页按钮 -->
<div>
    <p>{{.currentPage}}/{{.totalPages}}</p>
    {{if .PrevPage}}
    <a href="{{.PrevPage}}">上一页</a>
    {{end}}

    {{if .NextPage}}
    <a href="{{.NextPage}}">下一页</a>
    {{end}}
</div>
</body>
</html>