<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片和文章展示</title>
</head>
<body>

<h1>文章列表</h1>
<div>
    {{range .Posts}}
    <div>
        <h1>{{.ID}}</h1>
        <p>{{.Content}}</p>
        <div>
            {{range .Images}}
            <img src="/img/{{.Path}}/{{.FileName}}.{{.Ext}}" alt="Image" style="width: 300px; height: auto;"/>
            {{end}}
        </div>
        <p>OO {{.VotePositive}}   XX {{.VoteNegative}}</p>
        <p>{{.Author}} {{.Date}}</p>
    </div>
    {{end}}
</div>
<!-- 翻页按钮 -->
<div>
    {{if .PrevPage}}
    <a href="/?page={{.PrevPage}}">上一页</a>
    {{end}}

    {{if .NextPage}}
    <a href="/?page={{.NextPage}}">下一页</a>
    {{end}}
</div>
</body>
</html>